AP/
Campaign/
Connection/
CP/
css/
data/
GrupUser/
img/
js/
KaryawanBlacklist/
lib Calendar/
lib-img/
Lib-JS/
log/
logs/
News/
OutPO/
Password/
PO/*
!PO/detail_po.php
!PO/list_po.php
!PO/newPrintSJ.php
!PO/NewDaftarPO.php
!PO/newPrintPO.php

PriceList/
Product/
RTH/
RTH1/
SPB/
StructureIndex/*
!StructureIndex/header-menu.php
tes/
# Abaikan semua file di dalam folder tersebut
Vendor/*

# Berikan pengecualian untuk file tertentu
!Vendor/list.php
!Vendor/vendor_detail.php

getListWaiting2.php
hrecho.php
hrsync.php
bootstrap.bak
index.php
md5.php
syncVendor.php
Template-Master.php
tes.php
tesAccess.php